<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title" id="myModalLabel">OWS Compare</h4>
</div>

<div class="modal-body">
{% if error %}
<p>Something went wrong : <strong>{{ error }}</strong></p>
<p>Please check that the git references or if the given patch cleanly applies to {{ commit1 }}</p>
{% else %}
  {% for r in report %}
    {% if r['new']|length == 0 and r['rem']|length == 0 and r['fixed']|length == 0 and r['broken']|length == 0 %}
	  <h3>OCaml {{ r['switch'] }} : No Changes</h3>
	{% endif %}
	{% if r['new']|length >= 1 %} 
	  <h3>OCaml {{ r['switch'] }}</h3>
	  <p>
	  The following packages are <strong>NEW</strong> :
	  {% for (p,v) in r['new'] %}{{p}} ({{v}}){% if not loop.last %}, {% endif %}{% endfor %}
	  </p>
	{% endif %}

	{% if r['rem']|length >= 1 %} 
	  <p>
	  The following packages were <strong>REMOVED</strong> :
	  {% for (p,v) in r['rem'] %}{{p}} ({{v}}){% if not loop.last %}, {% endif %}{% endfor %}
	  </p>
	{% endif %}

	{% if r['fixed']|length >= 1 %} 
	  <p>
	  The following packages are now <strong>FIXED</strong> :
	  {% for (p,v) in r['fixed'] %}{{p}} ({{v}}){% if not loop.last %}, {% endif %}{% endfor %}
	  </p>
	{% endif %}

	{% if r['broken']|length >= 1 %} 
	  <p>
	  The following packages are now <strong>BROKEN</strong> :
	  {% for (p,v) in r['broken'] %}{{p}} ({{v}}){% if not loop.last %}, {% endif %}{% endfor %}
	  </p>
	{% endif %}
  {% endfor %}
{% endif %}
</div>
  	
<div class="modal-footer">
  <!--button type="button" class="btn btn-default" data-dismiss="modal">Close</button-->
</div>
