{% extends "templates/page.html" %}
{% block title %}Opam Weather Service About{% endblock %}
{% block intro %}
{% endblock %}

{% block content %}
<div class="container">
<article>
  <section id="opam" class="row">
    <h3>Opam</h3>
    <p>
    </p>
    <ul>
      <li>Homepage : </li>
      <li>Authors : </li>
      <li>Code : </li>
      <li>Documentation : </li>
    </ul>
  </section>
  <section id="dose" class="row">
    <h3>Dose3 / Distcheck</h3>
    <p>
    </p>
    <p>
    </p>
    <ul>
      <li>Homepage : </li>
      <li>Authors : Pietro Abate</li>
      <li>Code : </li>
      <li>Documentation : </li>
    </ul>
  </section>
</article>
</div>
{% endblock %}
