{% extends "templates/page.html" %}
{% block title %}Opam Weather Service Credits{% endblock %}
{% block intro %}
Ows is a service built on top of opam and dose3 using python + CSS + JS
{% endblock %}

{% block content %}
<div class="container">
<article>
  <section id="opam" class="row">
    <h3>OPAM</h3>
    <p> OPAM is a package-manager for OCaml contributions.</p>
    <ul>
      <li>Homepage : <a href="http://opam.ocaml.org/">opam.ocaml.org</a></li>
      <li>Authors : Louis Gesbert (OCamlPro), Thomas Gazagnaire (OCamlPro), Frédéric Tuong (INRIA)</li>
      <li>Code : <a href="http://github.com/ocaml/opam">Github</a></li>
      <li>Documentation : <a href="http://opam.ocaml.org/doc/Usage.html">online</a></li>
    </ul>
  </section>
  <section id="dose" class="row">
    <h3>Dose3 / Distcheck</h3>
    <p> Dose is a library and a collection of tools to perform la large spectrum of analysis on package repositories.<p>
    <p> Distcheck is a tool to determine whether packages of the repository can be installed.</p>
    <ul>
      <li>Homepage : <a href="http://dose.gforge.inria.fr">dose.gforge.inria.fr</a></li>
      <li>Authors : Pietro Abate</li>
      <li>Code : <code>git clone https://gforge.inria.fr/git/dose/dose.git </code></li>
      <li>Documentation : <a href="http://dose.gforge.inria.fr/quickstart/">quickstart</a></li>
    </ul>
  </section>
</article>
</div>
{% endblock %}
