{% extends "templates/page.html" %}
{% block title %}Opam Weather Service Credits{% endblock %}
{% block intro %}
Ows is a service built on top of opam and dose3 using python + CSS + JS
{% endblock %}

{% block content %}
<div class="container">
<article>
  <section id="opam" class="row">
    <h3>OPAM</h3>
    <p> OPAM is a package-manager for OCaml contributions.
    </p>
    <ul>
      <li>Homepage : <a href="http://opam.ocaml.org/">opam.ocaml.org</a></li>
      <li>Authors : Louis Gesbert (OCamlPro), Thomas Gazagnaire (OCamlPro), Frédéric Tuong (INRIA)</li>
      <li>Code : <a href="http://github.com/ocaml/opam">Github</a></li>
      <li>Documentation : <a href="http://opam.ocaml.org/doc/Usage.html">online</a></li>
    </ul>
  </section>
  <section id="dose" class="row">
    <h3>Dose3 / Distcheck</h3>
    <p> fill dose description
    </p>
    <p>
    </p>
    <ul>
      <li>Homepage : </li>
      <li>Authors : Pietro Abate</li>
      <li>Code : </li>
      <li>Documentation : </li>
    </ul>
  </section>
</article>
</div>
{% endblock %}
