{% extends "templates/page.html" %}
{% block title %}Opam Weather Service HOWTO{% endblock %}
{% block intro %}
{% endblock %}

{% block content %}
<div class="container">
<article>
  <section id="weather" class="row">
    <h3>Weather Page</h3>
    <p>
    The Opam Weather Service (ows) runs on regular intervals an evaluation of
    the solvability of dependencies in the official OPAM repository, for {{switches|length}} stable
    releases of OCaml.
    </p>
    <p>The <a href="index.html">weather</a> page provides an overview of all available 
    packages in the opam repository. A package can have multiple versions available in the
    opam repository, and each version can be available or not for a specific OCaml release.
    </p>
    <p>Each package is categorized as follows : 
    <ul>
      <li>A package is Broken <span style="color:red" class="glyphicon glyphicon-thumbs-down"></span> 
        if it is broken for <strong>all</strong> (declared) Switch</li>
      <li>A package is Partially Broken (<span style="color:red" class="glyphicon glyphicon-warning-sign"></span> 
        if it is broken on <strong>some</strong> (declared) Switch</li>
      <li>A package is Correct <span style="color:green" class="glyphicon glyphicon-thumbs-up"></span>
        if it is installable on All (declared) Switch</li>
    </ul>
    </p>
    <p>For each ocaml release, we provide a quick snapshot of the status of all versions of this package
    avalaible for a particular release.
    <ul>
      <li><span style="color:red">
          <span class="glyphicon glyphicon-fire">
          </span><span class="glyphicon glyphicon-fire"></span>
        </span> means that a package cannot be used with a specific version of the OCaml compiler because
        <strong>all</strong> available versions are not installable</li>
      <li><span style="color:red" class="glyphicon glyphicon-fire"></span> means that a package can be used, but 
        <strong>some</strong> versions are not installable</li>
      <li><span style="color:green" class="glyphicon glyphicon-ok"></span> means that all versions are installable</li>
      <li><span class="glyphicon glyphicon-option-horizontal"></span> : means that there are no versions of this package 
        available for this OCaml release</li>
    </ul>
    </p>
    <p>Packages are <strong>ordered</strong> in the main table considering the percentage of versions 
    available versus the number of not installable versions.
    </p>

    <p>Weather symbols are associated to each package.
      <ul>
        <li>A sunny symbol means all versions are installable <i class="wi wi-sunny"></i></li>
        <li>A cloudy symbol means that between 0% to 20% of the versions available for this package are not installable <i class="wi wi-cloudy"></i></li>
        <li>A stormy symbol means that between 20% to 100% of the versions available for this package are not installable <i class="wi wi-showers"></i></li>
      </ul>
      <p>
      When more then one symbol is present, the first one refers to the status of the package in the past, and
      the second one refers to the present status of the package.
      </p>
    </p>

    <p>The hyperlink assiociated to each package name, open a modal window providing an overview of all
    versions of the package, for all OCaml releases. The modal view contains, for each version a symbol
    highlighting the status of the package, the symbol <span style="color:blue" class="glyphicon glyphicon-zoom-in"></span>
    to inspect the reasons causing this specific version to be not installable and the symbol 
    <span style="color:blue" class="glyphicon glyphicon-zoom-in"></span> to display the explanation graph. Cliking on the 
    <span style="color:blue" class="glyphicon glyphicon-picture"></span> symbols opens a new tab providing a human readable explanation.
    Cliking on the <span style="color:blue" class="glyphicon glyphicon-picture"></span> symbols opens a new tab providing 
    the graphical representation of the explanation.

  </section>

  <section id="dashboard" class="row">
    <h3>Dashboard Page</h3>
    The <a href="dashboard.html">Dashboard</a> page provides an index of packages using the maintainer email as
    groupping key. For each maintainer, we show the status of all his/her packages as presented on the main page.
    An RSS feed is also available from the same page.
  </section>

  <section id="summary" class="row">
    <h3>Summary Page</h3>
    <p> The <a href="summary.html">summary</a> page provides a list of packages
    that are the reason why other packages cannot be installed. For each tuple,
    (package, version) and for each OCaml release we give the aggregate number
    of package versions that are not installable.
    </p>
    <p>The hyperlink assiociated to each package name, open a modal window providing an overview of all
    packages broken by this package.
    </p>
  </section>
  <section id="backlog" class="row">
    <h3>Backlog Page</h3>
    The <a href="backlog.html">Backlog</a> page provides a list of the last 10 previous runs of the ows
    service, one for each commit. All previous runs are kept in a compress archive and 
    <a href="/archive">available for download</a>
  </section>
</article>
</div>
{% endblock %}
