<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title" id="myModalLabel">{{name}} (ows : {{ date }})</h4>
</div>

<div class="modal-body">
  <div class="col-xs-1"> <!-- required for floating -->
	  <!-- Nav tabs -->
	  <ul class="nav nav-tabs tabs-left sideways" id="modal-tab">
		<li class="active"><a href="#overview" data-toggle="tab">Overview</a></li>
		<li><a href="#details" data-toggle="tab">Details</a></li>
	  </ul>
  </div>

  <div class="col-xs-11">
	<div class="tab-content">
	  <div class="tab-pane active" id="overview">
		<table id="modal-table" class="display" cellspacing="0" width="100%">
		  <thead>
			<tr><th>version</th>{% for s in switches %}<th>{{s}}</th>{% endfor %}</tr>
		  </thead>
		  <tbody>
		  {% for version, result in versions.iteritems() %}
		  <tr>
			<td>{{version}}</td>
			{% for s in switches %}
			  <td>
				{% if result[s] is defined %}
				  {% if result[s][0] == 'broken' %}
					<span style="color:red"
						  data-toggle="tooltip"
						  title="This package is unusable with OCaml {{s}}">
					  <span class="glyphicon glyphicon-fire"></span>
					  <span class="glyphicon glyphicon-fire"></span>
					</span>
					<a class="btn btn-xs reasons" href="#p{{version|replace(".","_")}}_{{s|replace(".","_")}}"
					   data-toggle="tooltip"
					   title="Fix It !">
					  <span class="glyphicon glyphicon-zoom-in"></span>
					</a>
				  {% elif result[s][0] == 'ok' %}
					<span style="color:green">
					  <span class="glyphicon glyphicon-ok"></span>
					</span>
				  {% endif %}
				{% else %}
					<span class="glyphicon glyphicon-option-horizontal"
						  data-toggle="tooltip"
						  title="Version {{version}} is not available for OCaml {{s}}"></span>
				{% endif %}
			  </td>
			{% endfor %}
		  </tr>
		  {% endfor %}
		  </tbody>
		</table>
	  </div>
	</div>
	<div class="tab-pane" id="details">
	  {% for version, result in versions.iteritems() %}
		{% for s in switches %}
		  {% if result[s] is defined %}
			{% if result[s][0] == 'broken' %}
			  <div id="p{{version|replace(".","_")}}_{{s|replace(".","_")}}" class="collapse">
				{% set (direct,indirect) = result[s][1] %}
				{% set dc = result[s][2] %}
				{% set dm = result[s][3] %}
				{% set idc = result[s][4] %}
				{% set idm = result[s][5] %}
				{% set reasons = result[s][4] %}
				{% if direct %}
				<p>This package requires manual intervention because
				   {% if dm|length > 0 %} some dependencies cannot be satisifed{% endif %}
				   {% if dm|length > 0 and dc|length > 0 %} and {% endif %}
				   {% if dc|length > 0 %} it is in conflict with other packages. {% endif %}
				   {% if dm|length > 0 %}
				   <p><ul>
					 {% for dep in dm %}
					   <li>This dependency {{ dep }} cannot be satisfied</li>
					 {% endfor %}
				   </ul></p>
				   {% endif %}
				   {% if dc|length > 0 %} it is in conflict with other packages :
				   <p><ul>
					 {% for ((p1,v2),(p2,v2)) in dc %}
					   <li>These packages are in conflict ({{ p1 }} (= {{v1}}) ({{ p1 }} (= {{ v2 }}) </li>
					 {% endfor %}
				   </ul></p>
				   {% endif %}
				</p>
				{% endif %}
				{% if indirect %}
				<p>This package cannot be use with OCaml {{s}} because package(s)
				   {% for pkg,verlist in idm.iteritems() %}
				   <a data-remote="packages/{{pkg}}.html" class="package-backlink">{{ pkg }}</a> (versions :
					  {% for v in verlist %}
						<a data-remote="#p{{v|replace(".","_")}}_{{s|replace(".","_")}}" class="version-backlink">{{ v }}</a>
						{% if not loop.last %},{% endif %}
					  {% endfor %}
					)
				   {% endfor %}
					,that is/are an indirect dependency of {{ name }}, is/are broken.
					 <p>Possible solutions are :</p>
					 <ol>
					   <li>Contact the maintainer of the package(s) {{ idm.keys()|join(', ') }} or propose a patch.</li>
					   <li>Change/Amend the dependencies of this package.</li>
					   <li>Declare this package not available for OCaml {{ s }}.</li>
					 </ol>
				  </p>
				{% endif %}
			  </div>
			{% endif %}
		  {% endif %}
		{% endfor %}
	  {% endfor %}
	</div>
  </div>
  
	
<div class="modal-footer">
  <!--button type="button" class="btn btn-default" data-dismiss="modal">Close</button-->
</div>
