{% extends "templates/page.html" %}
{% block title %}{% endblock %}
{% block intro %}
This service runs on regular intervals an evaluation of the solvability of
dependencies in the official OPAM repository, for {{switches|length}} stable releases of
OCaml.
{% endblock %}
{% block content %}
<div class="container">
  <table id="package-table" class="table table-hover table-condensed" >
	<thead>
	  <tr><th>Name</th><th>status</th>{% for s in switches %}<th>{{s}}</th>{% endfor %}</tr>
	</thead>
	<tbody>
	{% for name,versions in summary['report'].iteritems() %}
	  <tr
      {#
      {% if summary['report'][name]['status'] == 'broken' %}
        style="background-color:rgba(255,0,0,0.3)"
      {% elif summary['report'][name]['status'] == 'partial' %}
        style="background-color:rgba(255, 0, 0, 0.25)"
      {% endif %}
      #}
    >
		<td>
      <a href="#package{{name}}" 
         id="#package{{name}}"
         data-toggle="modal"
         data-target="#myModal"
         data-remote="packages/{{name}}.html">{{name}}
      </a>
      {% for w in summary['weather'][name] %}
        {% if w == "sunny" %}
          <i class="wi wi-sunny"></i>
        {% elif w == "cloudy" %}
          <i class="wi wi-cloudy"></i>
        {% else %}
          <i class="wi wi-showers"></i>
        {% endif %}
      {% endfor %}
    </td>
		<td>
			{% if summary['report'][name]['status'] == 'broken' %}
			<span style="color:red"
				  data-toggle="tooltip"
				  title="This package is not usable with any compiler">
				<span class="glyphicon glyphicon-thumbs-down"></span>
			  </span>
			{% elif summary['report'][name]['status'] == 'partial' %}
			  <span style="color:red"
					data-toggle="tooltip"
					title="{{ summary['report'][name]['percent'] }}% of the total available versions of this package are not installable">
				<span class="glyphicon glyphicon-warning-sign"></span>
			  </span>
			{% elif summary['report'][name]['status'] == 'ok' %}
			  <span style="color:green">
				<span class="glyphicon glyphicon-thumbs-up"></span>
			  </span>
			{% endif %}
		</td>
		{% for s in switches %}
		  <td>
		  {% if summary['report'][name][s] is defined %}
			{% if summary['report'][name][s] == 'broken' %}
			  <span style="color:red"
					data-toggle="tooltip"
					title="This package cannot be used with OCaml {{s}}">
				<span class="glyphicon glyphicon-fire"></span>
			  </span>
			{% elif summary['report'][name][s] == 'partial' %}
			  <span style="color:orange"
					data-toggle="tooltip"
					title="Some versions of this package cannot be used with OCaml {{s}}">
				<span class="glyphicon glyphicon-fire"></span>
			  </span>
			{% elif summary['report'][name][s] == 'ok' %}
			  <span style="color:green">
				<span class="glyphicon glyphicon-ok"></span>
			  </span>
			{% endif %}
		  {% else %}
			  <span class="glyphicon glyphicon-option-horizontal"
					data-toggle="tooltip"
					title="This package is not available for OCaml {{s}}"></span>
		  {% endif %}
		  </td>
		{% endfor %}
	  </tr>
	{% endfor %}
	</tbody>
  </table>
</div>
{% endblock %}
